QMainWindow {
    background-color: #061826;
    color: #45d16f;
    border: none;
}

QMenuBar {
    background-color: #072333;
    color: #45d16f;
    border: none;
}

QMenuBar::item:selected {
    background-color: rgba(69, 209, 111, 0.2);
}

QMenu {
    background-color: #0a1f2b;
    color: #45d16f;
    border: 1px solid #45d16f;
}

QMenu::item:selected {
    background-color: rgba(69, 209, 111, 0.3);
}
QTableWidget {
    background-color: #0a1f2b;
    alternate-background-color: #072333;
    gridline-color: #45d16f;
    color: #45d16f;
    border: 1px solid rgba(69, 209, 111, 0.4);
}

QHeaderView::section {
    background-color: #072333;
    color: #45d16f;
    padding: 5px;
    border: none;
    font-weight: 600;
}
